<div class=" bg-white overflow-hidden h-[32rem] mt-[-8rem] w-[20rem] p-[2rem]">
  <!-- <div class="bg w-full h-[9rem] " > -->

    <div class="flex  flex-col items-center ml-[-2rem] mt-[-0.92rem]">
      <img
      class="bw mt-[0.2rem]  rounded-full ml-[2rem] z-10 w-[8rem] h-[8rem] object-cover borderCol"
      src="../../assets/2.jpg"
      alt="Front Image"
    />
    <h2 class="uppercase text-xl pt-2  z-10 ml-[2.3rem] tracking-widest font-bold text-gray-200">
     {{employeeName}}
    </h2>
    <h2 class="uppercase ml-[2rem]   z-10 font-normal text-sm  text-white ">
      frontend developer
    </h2>
    <!-- circule -->
    <div
    class="w-[45rem] h-[32rem] mt-[-35.9rem] ml-[1.5rem]  rotate-[87.9deg] bg  rounded-full border-[16px] borderCol "

    ></div>
  </div>
<!-- </div> -->
  <div class="mt-[9rem] ml-6 flex flex-col">
<p class="flex items-center">ID NO<span class="ml-4">:</span><span class="pl-4">{{ idNo }}</span></p>
<p class="flex items-center">DOB<span class="ml-7">:</span><span class="pl-4">{{ DOB }}</span></p>
<p class="flex items-center">Phone<span class="ml-4">:</span><span class="pl-4">457 987 325</span></p>
<p class="flex items-center">Email<span class="ml-[1.5rem]">:</span><span class="pl-3">{{ Email }}</span></p>

 <img class="mt-6 ml-[1.2rem] w-[11rem]" src="https://barcode.tec-it.com/barcode.ashx?data=457896314726488&type=Code128&dpi=72" alt="Barcode" style="filter: grayscale(100%);">

</div>

  <p
  class="redd absolute w-[20rem] ml-[-2rem] mt-[1.5rem]"
  style="height: 16px"
></p>
</div>
