 <div class=" flex items-center mt-[-1.5rem] ml-[3.5rem] rotate-12 ">
          <svg
            fill="#ca1212"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="168px"
            height="168px"
            viewBox="-330.27 -330.27 1146.23 1146.23"
            xml:space="preserve"
            stroke="#ca1212"
            stroke-width="0.00485688"
            transform="matrix(-1, 0, 0, -1, 0, 0)rotate(180)"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="#CCCCCC"
              stroke-width="5.828256"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <g>
                  <path
                    d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878 l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z"
                    style="transform: rotate(60deg)"
                  ></path>
                </g>
              </g>
            </g>
          </svg>

          <svg
            fill="#ca1212"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="168px"
            height="168px"
            viewBox="-330.27 -330.27 1146.23 1146.23"
            xml:space="preserve"
            stroke="#ca1212"
            stroke-width="0.01"
            transform="matrix(-1, 0, 0, -1, 0, 0)rotate(180)"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="#CCCCCC"
              stroke-width="5.828256"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <g>
                  <path
                    d="M364.269,453.155H121.416L0,242.844L121.416,32.533h242.853l121.419,210.312L364.269,453.155z M131.905,434.997h221.878 l110.939-192.152L353.783,50.691H131.905L20.966,242.844L131.905,434.997z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
