<!-- back side -->

        <div class=" bg overflow-hidden h-[32rem]  mt-[-8rem] w-[20rem] p-[2rem]">
    <div class="flex  flex-col items-center justify-center ml-[-2rem] mt-[-0.92rem]">
        <app-svg class="z-10  mt-[-0.5rem] ml-[2rem]  " ></app-svg>
        <h2 class="uppercase text-center ml-[2rem] mt-[-2.3rem] text-xl tracking-wide z-10 font-extrabold text-gray-950">
         {{companyName}}
        </h2>
        <p class=" z-10 ml-[1.9rem] pb-4 uppercase text-xs letter-spacing text-center text-gray-800">
          tagline hire
        </p>
        <!-- //circule -->
        <div
          class="w-[45rem] h-[32rem] mt-[-34.6rem] ml-[1.5rem] rotate-[87.9deg] bg-white rounded-full border-[16px] borderCol"
        ></div>
      </div>

    <div class="mt-[8.8rem] text-white">
      <h2
      class=" capitalize mt-[-1.5rem] mb-2 tracking-wider text-sm text-center font-bold text-gray-300"
      >
      terms & conditions
    </h2>
    <p class="tsize mt-2 mb-2 w-[16rem] ml-[0.5rem]">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod
        distinctio ducimus, sunt qui, asperiores possimus a veniam ex illo hic,asperiores possimus a veniam ex illo hic
      </p>

      <p class="tsize mt-2 mb-2 w-[16rem] ml-[0.5rem]">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod
        distinctio ducimus, sunt qui, asperiores possimus a veniam ex illo hic,asperiores possimus a veniam ex illo hic
      </p>
      <p class="tsize mt-2 mb-2 w-[16rem] ml-[0.5rem]">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod
        distinctio ducimus, sunt qui, asperiores possimus a veniam ex illo hic,asperiores possimus a veniam ex illo hic
      </p>
      <div  >

        <h3 class="text-red-600 text-xs text-center font-extrabold mt-[1.6rem]  uppercase">
          date of issue : <span class="text-white font-normal">10-03-2023</span>
        </h3>
        <h3 class="text-red-600 text-xs mb-[-2.3rem] text-center font-extrabold uppercase">
          expire date : <span class="text-white font-normal ">20-05-2024</span>
        </h3>
      </div>
    </div>
    <!-- </div> -->
    <p
    class="bg-red-600 absolute w-[20rem] ml-[-2rem] mt-[3.6rem]"
    style="height: 16px"
    ></p>
  </div>

